<ng-template #name>
    This is inside ngTemplate
</ng-template>

<ng-container >
    <h1 class="container">Title in ngContainer</h1>
</ng-container>
<div [ngTemplateOutlet]="name"></div>
<!-- <ng-template [ngIf]="condition"></ng-template> -->

<button (click)="increment()">Add</button>
<button (click)="decrement()">Minus</button>
<button (click)="reset()">Reset</button>
<h4>Counter: {{ countObs | async }}</h4>
<p>Hello </p>
<button routerLink="home">Home</button>
<button (click)="navigateProduct()">Product</button>
<button routerLink="users">User</button>
<button id="btn">Click here</button>
<input id="userInput"/>
<!-- Placeholder to display the view based on route -->

<footer>This is the end</footer>
<app-feedback></app-feedback>
<router-outlet></router-outlet>